!!! 5
%html(lang="zh-cmn-Hans")
  %head
    %meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    %link(rel="stylesheet" href="/vendors/bootstrap/css/bootstrap.min.css" )
    //%link(rel="stylesheet" href="/vendors/slidebars/slidebars.css")
    %link(rel="stylesheet" href="/styles/styles1.css")
    
    %script(src="/javascripts/jquery-1.11.1.min.js")
    //%script(src="/javascripts/angular.min.js")  
    %script(src="/vendors/bootstrap/js/bootstrap.min.js")
    %script(src="/vendors/howler/howler.min.js")
    //%script(src="/vendors/slidebars/slidebars.js")
    %title Index
  %body
    %nav.nav.navbar.navbar-default
      .navbar-header
        %a.navbar-brand(href="#") NEWSRUN
      %ul.nav.navbar-top-links.navbar-right
        %li
          %a(href="#") index
        %li
          %a(href="#") app
    .content.container-fluid
      .row
        .col-sm-3.col-md-2.sidebar(role="navigation")
          %ul.nav.nav-sidebar
            %li
              %h3 Play list
            %li.sb-toggle-left
              %a(href="#") News 1
            %li
              %a(href="#") News 2
            %li
              %a(href="#") News 3
            %li
              %a(href="#") News 4
            %li
              %a(href="#") News 5
          
        .col-sm-9.col-md-10.main
          .sb-slidebar.sb-left csscsdcsdcsd
          #sb-site
            %h1.page-header News Player
            #player
              %button#ex1-play.btn-lg.btn-primary.btn play
              %button#ex1-pause.btn-lg.btn-primary.btn pause
              %button#ex1-stop.btn.btn-lg.btn-primary stop
              %button#ex1-loop.btn.btn-lg.btn-primary loop
        
  :javascript
    //alert("SB");
    $(function(){
    var sound = new Howl({urls: ['/sounds/sound.mp3', '/sounds/sound.wav']});//.play();
    $('#ex1-play').on('click', function(){
    sound.stop().play();
    //alert("bitch");
    //alert("SB");
    });
    $('#ex1-pause').on('click', function(){
            sound.pause();
    });
    $('#ex1-stop').on('click', function(){
            sound.stop();
    });
    $('#ex1-loop').on('click', function(){
       
    });
    
    });
    var toggle = false;
    $(document).ready(function() {
    $(".sb-toggle-left").click(function(){
    if (toggle) {
    $(".newscontent").removeClass("newscontent-cl").addClass("newscontent-lg");
    
    } else {
    $(".newscontent").removeClass("newscontent-lg").addClass("newscontent-cl");
    //$(".sb-slidebar").css("display", "none");
    }
    toggle = !toggle;
    });
    
    });    
  
  
