!!! 5
%html(lang="zh-cmn-Hans")
  %head
    %meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    %link(rel="stylesheet" href="/vendors/bootstrap/css/bootstrap.min.css" )
    //%link(rel="stylesheet" href="/vendors/slidebars/slidebars.css")
    %link(rel="stylesheet" href="/styles/styles3.css")
    
    %script(src="/javascripts/jquery-1.11.1.min.js")
    //%script(src="/javascripts/angular.min.js")  
    %script(src="/vendors/bootstrap/js/bootstrap.min.js")
    %script(src="/vendors/howler/howler.min.js")
    //%script(src="/vendors/slidebars/slidebars.js")
    %title TRAVEL
  %body
    .container
      %nav.nav.navbar
        .navbar-header
          %a.navbar-brand(href="#") TRAVEL
        %ul.nav.navbar-nav.navbar-right
          %li
            %a(href="#") index
          %li
            %a(href="#") app
    .content.container
      .row
      
  :javascript
    
