<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Provide the best service to run. Run is travel.</title>
  <meta name="author" content="Alvaro Trigo Lopez" />
  <meta name="description" content="fullPage very simple demo." />
  <meta name="keywords"  content="fullpage,jquery,demo,simple" />
  <meta name="Resource-type" content="Document" />

  <link rel="stylesheet" type="text/css" href="styles/style.css" />
  <noscript>
    <link rel="stylesheet" href="styles/skel.css" />
    <link rel="stylesheet" href="styles/style.css" />
    <link rel="stylesheet" href="styles/style-wide.css" />
  </noscript>
  <!--[if lte IE 8]><link rel="stylesheet" href="styles/ie/v8.css" /><![endif]-->

  <style media="screen">

  /* Fixed header and footer.
  * --------------------------------------- */
  #header, #footer{
    position:fixed;
    height: 50px;
    display:block;
    width: 100%;
    background: #333;
    z-index:9;
    text-align:center;
    color: #f2f2f2;
    padding: 20px 0 0 0;
  }

  #header{
    top:0px;
  }
  #footer{
    bottom:0px;
  }
  </style>

</head>
<body>

<div id="header" class="alt">
  <h1><a href="/">NEWSRUN</a></h1>
  <nav id="nav">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/login" class="button">Login</a></li>
      <li><a href="/register">Sign Up</a></li>
    </ul>
  </nav>

</div>

<div id="footer" class="alt">
  <ul class="copyright">
    <li>&copy; 2014 Newsrun. All rights reserved.</li><li>Design: <a href="http://github.com/newsrun">Newsrun</a></li>
  </ul>
</div>

  <div id="login">
    <h2>Login</h2>
    <p>Provide the best service to run. Run is travel.</p>
  </div>

<section id="main" class="container" style="padding-top:2em;">
  <div class="row">
    <div class="8u -2u">
      <!-- Form -->
      <section class="box">
        <form method="post" action="/login" accet-charset="UTF-8">
          <div class="row uniform 50%">
            <div class="12u">
              <input type="text" name="email" id="email" value="" placeholder="Email">
            </div>
            <div class="12u">
              <input type="password" name="password" id="password" value="" placeholder="Password">
            </div>
          </div>
          <div class="row uniform 50%">
            <div class="6u 12u(3)">
							<input type="hidden" name="remember" value="0">
              <input type="checkbox" id="remember" name="remember">
              <label for="remember">Remember me</label>
            </div>
            <div class="6u 12u(3)">
              <a href="#">Fogot Password ?</label>
            </div>
          </div>

          <div class="row uniform">
            <div class="12u">
              <input type="submit" class="button fit special" value="Login">
            </div>
          </div>
        </form>
      </section>
    </div>
  </div>
</section>

<!--[if lte IE 8]><script src="styles/ie/html5shiv.js"></script><![endif]-->
<script src="javascripts/jquery-1.11.1.min.js"></script>
<script src="javascripts/jquery.dropotron.min.js"></script>
<script src="javascripts/jquery.scrollgress.min.js"></script>
<script src="javascripts/skel.min.js"></script>
<script src="javascripts/skel-layers.min.js"></script>
<script src="javascripts/init.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>

<script src="javascripts/jquery.backstretch.js"></script>
<script charset="utf-8">
  $(document).ready(function() {
    $("body").backstretch([
      "img/1.jpg",
      "img/2.jpg",
      "img/3.jpg"
    ], {
      duration: 4000,
      fade: 750
    });
  });
</script>

</body>
</html>
